.topcast {
    text-align: center;
    font-size: 30px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.thecast {
    text-align: center;
    font-size: 20px;
}

.thecast em {
    color: #b19f9f;
}

.imgedit {
    border-radius: 30px;
    height: 63px;
    width: 52px;
}
