.infotext {
    text-align: center;
}

.infolist {
    text-align: center;
    font-size: 20px;

}

.imgsrc{
    border-radius: 40px;
    height: 90%;
    width: 80%;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infotext2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infotext3 {
    font-size: 20px;
    text-align: center;
}