
.main_trailer{
    width: 100%;
    border-radius: 5px;

}

.watch_more-h1{
    font-size: 32px;
    text-align: center;

}

.trailers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 15px;
}

.trailer{
    text-align: center;
    width: 100%;
    border-radius: 5px;
}

.description{
    font-size: 9px;
    margin-top: 0;
}
