
.main_trailer_section iframe{
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

.watch_more-h1{
    font-size: 32px;
    text-align: center;

}

.trailers {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-template-rows: auto;
    gap: 8px;
}

.trailer{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 91px;
}

.description{
    font-size: 9px;
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}
