
@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100&display=swap');


*{
    padding: 0;
    margin: 0;
    color: white;
    font-family: "urbanist";
}

body {
    background  : linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 86%);
}

.header{
    width: 50px;
    height: 20px;
    font-size: 12px;
    text-align: center;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(0,0,0,1) 0%, rgba(255,0,0,1) 86%);
    border-radius: 5px;
    text-decoration: none;
}

.nav{
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 60px;
    background: black;
    justify-content: space-around;
}

.footer{
    text-decoration: none;
}

.footer-current{
    margin-top:50px;
    background:linear-gradient(0, rgba(2,0,36,1) 0%, rgba(255,0,0,1) 86%);


    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    min-width: 100%;
}



.plotsuur {
    text-align: center;
    margin: 20px;
   
}

.plottext1 {
    text-align: center;
    max-width: 80%;
   
}

.sawxpildid1 {
    text-align: center;
    border-radius: 33px;
    margin-top: 25px;
    margin-bottom: 25px;
    
}

.flex{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.topcast {
    text-align: center;
    font-size: 30px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 20px 20px 20px 20px;
}
.thecast {
    text-align: center;
    font-size: 20px;
}

.thecast em {
    color: #b19f9f;
}

.imgedit {
    border-radius: 30px;
    height: 100px;
    width: 80px;
}
.main_trailer_section iframe{
    width: 100%;
    height: 50vw;
    border-radius: 10px;
    margin-top: 15px;
}

.main_trailer_section{
    padding: 10px;
}
.watch_more-h1{
    font-size: 32px;
    text-align: center;
    margin-top: 15px;
    font-weight: 800;
}

.trailers {
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: auto;
    grid-template-rows: auto;
    gap: 8px;
    padding: 16 42px;
}

.trailer{
    text-align: center;
    width: 100%;
    border-radius: 10px;
    height: 91px;
    
    height: calc(20vw);
}


.description{
    font-size: 9px;
    margin-top: 0;
    text-align: center;
    font-weight: 400;
}

.infotext {
    text-align: center;
}

.infolist {
    text-align: center;
    font-size: 20px;

}

.imgsrc{
    border-radius: 40px;
    height: 90%;
    width: 80%;
    padding: 30px;
}

.cont {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infotext2 {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.infotext3 {
    font-size: 20px;
    text-align: center;
    max-width: 80%;
}